{% extends 'base.html.twig' %}
{% block title %} Images : New {% endblock %}
{% block body %}
    <h1>Image creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_image_city' , { 'id' : image.cityId }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
