		  <div class="header-content row">
					<div class="header-content-left col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="row logo-div center-div-elements">
							<a href="http://cities.syriauntold.com/front-end/">
								<img class="img-responsive" src="{{ asset('images/logo-w.png') }}" />
							</a>	
						</div>
						<div class="row header-text center-div-elements ">
							<h2>Cities in Revolution</h2>
						</div>
						<div class="row  rwl-div">
							<div class="rwl-buttons center-div-elements-vertically">
	  							<a href="#" class="btn btn-primary  col-md-4 col-sm-4 col-xs-4 center-div-elements" role="button" id="read">Read</a>
	  							<a href="#" class="btn btn-primary  col-md-4 col-sm-4 col-xs-4  center-div-elements " role="button" id="watch">Watch</a>
	  							<a href="#" class="btn btn-primary  col-md-4 col-sm-4 col-xs-4 center-div-elements " role="button" id="listen">Listen</a>
						  	</div>
							<div class="row rwl-cities">
								<button class="btn-default zabadani col-md-4 col-sm-6 col-xs-4 center-div-elements" value="1" type="button">Zabadani</button>
								<button class="btn-default deralzor col-md-4 col-sm-6 col-xs-4 center-div-elements" value="2" type="button">Deir Ez-Zor</button>
								<button class="btn-default salamyeh col-md-4 col-sm-6 col-xs-4 center-div-elements" value="3" type="button">Salamiyah</button>
								<button class="btn-default banyas col-md-4 col-sm-6 col-xs-4 center-div-elements" value="4" type="button">Banyias</button>
								<button class="btn-default daraa col-md-4 col-sm-6 col-xs-4 center-div-elements" value="5" type="button">Daraa</button>
								<button class="btn-default qamshli col-md-4 col-sm-6 col-xs-4 center-div-elements" value="6" type="button">Qamishli</button>
							</div>
					  </div>
					</div>
					<div class="map-div col-md-7  col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
						<img class="img-responsive" src="{{ asset('images/maps.png') }}">
						<div class="marker m-zabadane" data-toggle="tooltip" data-placement="right" title="Zabadane"></div>
						<div class="t-zabadane tooltip fade right in" role="tooltip">
							<div class="tooltip-inner">Zabadane</div>
						</div>
						
						<div class="red-tootip marker m-deralzor" data-toggle="tooltip" data-placement="right" title="Deir Ez-zor"></div>
						<div class="t-deralzor tooltip fade right in" role="tooltip">
							<div class="tooltip-inner">Deir Ez-zor</div>
						</div>
						
						<div class="marker m-salamyeh" data-toggle="tooltip" data-placement="right" title="Salamyeh"></div>
						<div class="t-salamyeh tooltip fade right in" role="tooltip">
							<div class="tooltip-inner">Salamyeh</div>
						</div>
						
						<div class="marker m-banyas" data-toggle="tooltip" data-placement="right" title="Banyias"></div>
						<div class="t-banyas tooltip fade right in" role="tooltip">
							<div class="tooltip-inner">Banyias</div>
						</div>
						
						<div class="marker m-daraa" data-toggle="tooltip" data-placement="right" title="Daraa"></div>
						<div class="t-daraa tooltip fade right in" role="tooltip">
							<div class="tooltip-inner">Daraa</div>
						</div>
						
						<div class="marker m-qamshli" data-toggle="tooltip" data-placement="right" title="Qamshli"></div>
							<div class="t-qamshli tooltip fade right in" role="tooltip">
								<div class="tooltip-inner">Qamshli</div></div>
					</div>
      </div>
	