/* line 1, ../../sass/base/_normalize.scss */
a {
  font-size: 10px;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../../fonts/HelveticaNeueLTStd-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd") format("HelveticaNeueLTStd");
  /* Legacy iOS */
}
/* line 14, ../../sass/pages/homepage.scss */
body {
  font-family: 'Helvetica';
  letter-spacing: 1px;
}

@font-face {
  font-family: 'Droidsan';
  src: url("../../fonts/droid-sans.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/droid-sans.eot?#iefix") format("embedded-opentype"), url("../../fonts/droid-sans.woff2") format("woff2"), url("../../fonts/droid-sans.woff") format("woff"), url("../../fonts/droid-sans.ttf") format("truetype"), url("../../droid-sans.svg#HelveticaNeueLTStd") format("HelveticaNeueLTStd");
  /* Legacy iOS */
}
/* line 29, ../../sass/pages/homepage.scss */
.paragraph-text, .city-text {
  font-family: 'Droidsan';
  letter-spacing: 1px;
}

/* line 34, ../../sass/pages/homepage.scss */
.yellow-subject {
  /*   height: 50px;
    padding-top: 10px; */
  border-radius: 5px;
  background-color: #f7ff05;
}
/* line 39, ../../sass/pages/homepage.scss */
.yellow-subject h4 {
  padding-top: 22px;
  font-weight: bold;
}
/* line 43, ../../sass/pages/homepage.scss */
.yellow-subject img {
  height: 75px;
  width: auto;
}

/* line 50, ../../sass/pages/homepage.scss */
.row-centered {
  text-align: center;
}
/* line 53, ../../sass/pages/homepage.scss */
.row-centered .col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

/* line 64, ../../sass/pages/homepage.scss */
.center-div-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 75, ../../sass/pages/homepage.scss */
.center-div-elements-vertically {
  display: flex;
  justify-content: center;
}

/* line 81, ../../sass/pages/homepage.scss */
.paragraph-text {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 89, ../../sass/pages/homepage.scss */
.alert-subject {
  /*     display: inline-block;
   */
  /*   padding-bottom: 15px; */
}
/* line 92, ../../sass/pages/homepage.scss */
.alert-subject .col-md-4, .alert-subject .col-sm-4, .alert-subject .col-xs-4 {
  padding-left: 0px;
}

/* line 96, ../../sass/pages/homepage.scss */
.alert-subject h1, .alert-subject h2, .alert-subject h3, .alert-subject h4, .alert-subject h5, .alert-subject h6, .alert-subject p {
  color: white;
  font-weight: bold;
  padding-left: 90px;
}

/* line 103, ../../sass/pages/homepage.scss */
.alert-subject > :first-child {
  padding: 15px 15px 7px 15px;
  background-color: #ff0d05;
}

/* line 108, ../../sass/pages/homepage.scss */
.alert-subject :nth-child(2) {
  padding: 3px 6px 1px 15px;
  height: 40px;
  background-color: #850804;
}

/* line 117, ../../sass/pages/homepage.scss */
.primary-subject .col-md-4, .primary-subject .col-sm-4, .primary-subject .col-xs-4 {
  padding-right: 0px;
}

/* line 123, ../../sass/pages/homepage.scss */
.primary-subject {
  direction: rtl;
}
/* line 125, ../../sass/pages/homepage.scss */
.primary-subject h1, .primary-subject h2, .primary-subject h3, .primary-subject h4, .primary-subject h5, .primary-subject h6, .primary-subject p {
  color: #000;
  font-weight: bold;
  padding-right: 90px;
}

/* line 132, ../../sass/pages/homepage.scss */
.primary-subject > :first-child {
  padding: 15px 15px 7px 15px;
  background-color: #f7ff05;
}

/* line 137, ../../sass/pages/homepage.scss */
.primary-subject :nth-child(2) {
  padding: 3px 6px 1px 15px;
  height: 40px;
  background-color: #fcff59;
}

/* line 3, ../../sass/layout/_header.scss */
body .container-fluid {
  position: relative;
  /* padding: 0px 0px; */
}

/* line 8, ../../sass/layout/_header.scss */
header {
  /* height:	590px; */
  /* background-color: $secondary-color; */
  color: #fff;
}

/* line 15, ../../sass/layout/_header.scss */
.top-header-lang-bar {
  float: right;
  padding-top: 50px;
  padding-right: 160px;
}

/* line 21, ../../sass/layout/_header.scss */
.top-header-lang-bar .btn-default {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
}

/* line 28, ../../sass/layout/_header.scss */
.header-content {
  padding-top: 86px;
  background-color: #000;
}

/* line 34, ../../sass/layout/_header.scss */
.logo-div {
  height: 130px;
  background-color: #0098ba;
}
/* line 38, ../../sass/layout/_header.scss */
.logo-div a {
  color: #fff;
}
/* line 42, ../../sass/layout/_header.scss */
.logo-div a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 48, ../../sass/layout/_header.scss */
.logo-div h1 {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
}

/* line 55, ../../sass/layout/_header.scss */
a.btn-primary.active {
  color: #fff;
  background-color: #545454;
  border-color: #545454;
}

/* line 61, ../../sass/layout/_header.scss */
.header-text {
  background: linear-gradient(top, #f7ff05, #cad100);
  background: -o-linear-gradient(top, #f7ff05, #cad100);
  background: -moz-linear-gradient(top, #f7ff05, #cad100);
  background: -webkit-linear-gradient(top, #f7ff05, #cad100);
  color: #000;
  height: 70px;
}
/* line 70, ../../sass/layout/_header.scss */
.header-text h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 27px;
  letter-spacing: 2px;
}

/* line 78, ../../sass/layout/_header.scss */
div.rwl-buttons {
  height: 65px;
}
/* line 81, ../../sass/layout/_header.scss */
div.rwl-buttons a {
  padding: 15px 0px;
  border-color: #545454;
  border-radius: 0px;
  background: #545454;
  transition: background-color 0.5s ease;
  /* background-color: $rwl-btn; */
  font-size: 22px;
}
/* line 92, ../../sass/layout/_header.scss */
div.rwl-buttons a.btn-primary:active, div.rwl-buttons a.btn-primary:focus, div.rwl-buttons a.btn-primary:hover {
  background: #000;
  transition: background-color 0.5s ease;
  border-color: #000;
}

/* line 99, ../../sass/layout/_header.scss */
a.btn-primary:active {
  background: #000;
  transition: background-color 0.5s ease;
  border-color: #000;
}

/* line 106, ../../sass/layout/_header.scss */
.rwl-div .rwl-cities {
  margin-right: 5px;
}

/* line 111, ../../sass/layout/_header.scss */
div.rwl-cities {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: black;
}
/* line 115, ../../sass/layout/_header.scss */
div.rwl-cities button {
  padding: 0px;
  height: 50px;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
/* line 123, ../../sass/layout/_header.scss */
div.rwl-cities button:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 17%;
  border-bottom: 6px solid;
}
/* line 133, ../../sass/layout/_header.scss */
div.rwl-cities .zabadani:before {
  border-bottom-color: #197078;
}
/* line 134, ../../sass/layout/_header.scss */
div.rwl-cities .deralzor:before {
  border-bottom-color: #200544;
}
/* line 135, ../../sass/layout/_header.scss */
div.rwl-cities .salamyeh:before {
  border-bottom-color: #ff1313;
}
/* line 136, ../../sass/layout/_header.scss */
div.rwl-cities .banyas:before {
  border-bottom-color: #194a06;
}
/* line 137, ../../sass/layout/_header.scss */
div.rwl-cities .daraa:before {
  border-bottom-color: #48052c;
}
/* line 138, ../../sass/layout/_header.scss */
div.rwl-cities .qamshli:before {
  border-bottom-color: #ffb913;
}
/* line 140, ../../sass/layout/_header.scss */
div.rwl-cities .zabadani:hover:before {
  border-bottom-color: #10494e;
}
/* line 141, ../../sass/layout/_header.scss */
div.rwl-cities .deralzor:hover:before {
  border-bottom-color: #0a0214;
}
/* line 142, ../../sass/layout/_header.scss */
div.rwl-cities .salamyeh:hover:before {
  border-bottom-color: #ac0000;
}
/* line 143, ../../sass/layout/_header.scss */
div.rwl-cities .banyas:hover:before {
  border-bottom-color: #091b02;
}
/* line 144, ../../sass/layout/_header.scss */
div.rwl-cities .daraa:hover:before {
  border-bottom-color: #18020f;
}
/* line 145, ../../sass/layout/_header.scss */
div.rwl-cities .qamshli:hover:before {
  border-bottom-color: #ac7900;
}

/* line 150, ../../sass/layout/_header.scss */
.rwl-cities button:hover, .rwl-cities button:focus, .rwl-cities button.active {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

/* line 162, ../../sass/layout/_header.scss */
div.map-div {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 167, ../../sass/layout/_header.scss */
div.map-div img {
  position: relative;
}

/* line 172, ../../sass/layout/_header.scss */
.header-row {
  /* 	height: 450px; */
  display: table-cell;
  display: flex;
  vertical-align: top;
}

/* line 179, ../../sass/layout/_header.scss */
.header-content-subject {
  /* 	padding-top: 100px; */
  text-align: center;
  background: linear-gradient(top, #f7ff05, #cad100);
  background: -o-linear-gradient(top, #f7ff05, #cad100);
  background: -moz-linear-gradient(top, #f7ff05, #cad100);
  background: -webkit-linear-gradient(top, #f7ff05, #cad100);
  color: #000;
}
/* line 188, ../../sass/layout/_header.scss */
.header-content-subject .header-ctiies {
  font-size: 27px;
}

/* line 193, ../../sass/layout/_header.scss */
.set-child-height-from-parent {
  display: table-cell;
  vertical-align: top;
}

/* line 198, ../../sass/layout/_header.scss */
.header-content-details, .content-details {
  direction: rtl;
  background-color: #fff;
  color: #000;
}

/* line 204, ../../sass/layout/_header.scss */
.cities-menu {
  background-color: #000;
  font-weight: bold;
  /*   	height: 75px;
   */
}

/* line 210, ../../sass/layout/_header.scss */
.cities-menu .rwl-cities {
  width: 100%;
}

/* line 215, ../../sass/layout/_header.scss */
.fade-out {
  opacity: 0.2;
}

/* line 219, ../../sass/layout/_header.scss */
.marker {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 30px solid;
}

/* line 231, ../../sass/layout/_header.scss */
.m-zabadane .m-deralzor, .m-salamyeh, .m-banyas, .m-daraa, .m-qamshli {
  transition: border-top-color 0.5s ease;
}

/* line 234, ../../sass/layout/_header.scss */
.m-zabadane {
  border-top-color: #1a7278;
  left: 31.5%;
  top: 69%;
}

/* line 240, ../../sass/layout/_header.scss */
.m-zabadane:hover {
  border-top-color: #082224;
}

/* line 244, ../../sass/layout/_header.scss */
.m-deralzor {
  border-top-color: #7d59b3;
  left: 72.5%;
  top: 35%;
}

/* line 250, ../../sass/layout/_header.scss */
.m-deralzor:hover {
  border-top-color: #4d3472;
}

/* line 254, ../../sass/layout/_header.scss */
.m-salamyeh {
  border-top-color: #fc1008;
  left: 41.5%;
  top: 41%;
}

/* line 260, ../../sass/layout/_header.scss */
.m-salamyeh:hover {
  border-top-color: #9c0702;
}

/* line 265, ../../sass/layout/_header.scss */
.m-banyas {
  border-top-color: #6cc443;
  left: 30%;
  top: 40%;
}

/* line 271, ../../sass/layout/_header.scss */
.m-banyas:hover {
  border-top-color: #417b26;
}

/* line 275, ../../sass/layout/_header.scss */
.m-daraa {
  border-top-color: #ad5887;
  left: 34%;
  top: 83%;
}

/* line 281, ../../sass/layout/_header.scss */
.m-daraa:hover {
  border-top-color: #6b3452;
}

/* line 285, ../../sass/layout/_header.scss */
.m-qamshli {
  border-top-color: #fcb612;
  left: 83.5%;
  top: 4%;
}

/* line 291, ../../sass/layout/_header.scss */
.m-qamshli:hover {
  border-top-color: #a67502;
}

/* line 298, ../../sass/layout/_header.scss */
.map-div .tooltip {
  z-index: 0;
}

/* line 303, ../../sass/layout/_header.scss */
.tooltip > .tooltip-inner {
  width: auto;
  height: 20px;
  z-index: 1;
  background-color: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 2px;
  color: #000;
  -webkit-transform: skew(-18deg);
  -moz-transform: skew(-18deg);
  -o-transform: skew(-18deg);
}

/* line 318, ../../sass/layout/_header.scss */
.tooltip.right {
  padding: 0px;
  margin-left: 0px;
}

/* line 324, ../../sass/layout/_header.scss */
.t-zabadane {
  top: 69.5%;
  left: 32%;
}

/* line 328, ../../sass/layout/_header.scss */
.t-deralzor {
  top: 35.5%;
  left: 73%;
}

/* line 333, ../../sass/layout/_header.scss */
.t-salamyeh {
  top: 41.5%;
  left: 42%;
}

/* line 338, ../../sass/layout/_header.scss */
.t-banyas {
  top: 40.5%;
  left: 30.5%;
}

/* line 343, ../../sass/layout/_header.scss */
.t-daraa {
  top: 83.5%;
  left: 35%;
}

/* line 348, ../../sass/layout/_header.scss */
.t-qamshli {
  top: 4.5%;
  left: 84%;
}

/* line 353, ../../sass/layout/_header.scss */
.header-cities {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 356, ../../sass/layout/_header.scss */
.header-cities h2 {
  font-size: 27px;
}

/* line 1, ../../sass/layout/_city-desc.scss */
.city-text {
  max-height: 602px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-y: scroll;
}

/* line 9, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar {
  width: 0px;
}

/* line 14, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 18, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar:horizontal {
  padding: 10px;
  margin: 10px;
}

/* Track */
/* line 23, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Handle */
/* line 30, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #8a8a8a;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 36, ../../sass/layout/_city-desc.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(222, 222, 222, 0.4);
}

/* line 41, ../../sass/layout/_city-desc.scss */
.city-subject-left {
  padding-top: 10px;
}

/* line 45, ../../sass/layout/_city-desc.scss */
.city-subject {
  padding-top: 10px;
  background-color: #e8e8e8;
}
/* line 49, ../../sass/layout/_city-desc.scss */
.city-subject h3 {
  color: #ff1313;
  font-weight: bold;
}
/* line 54, ../../sass/layout/_city-desc.scss */
.city-subject h4, .city-subject a, .city-subject h5, .city-subject p {
  color: #000;
  font-weight: bold;
}
/* line 58, ../../sass/layout/_city-desc.scss */
.city-subject p {
  font-size: 12px;
}

/* line 66, ../../sass/layout/_city-desc.scss */
.content-details {
  width: 61.333333%;
}

/* line 70, ../../sass/layout/_city-desc.scss */
.row-read {
  display: flex;
}

/* line 74, ../../sass/layout/_city-desc.scss */
.city-pdf {
  padding: 10px 0px;
  font-weight: bold;
}
/* line 78, ../../sass/layout/_city-desc.scss */
.city-pdf a {
  font-size: 12px;
  color: #000;
}

/* line 84, ../../sass/layout/_city-desc.scss */
.font-light {
  font-weight: normal;
}

/* line 4, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .photo-primary {
  padding: 0px;
}
/* line 8, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .main-infographic-viewer-div {
  overflow-y: auto;
  overflow-x: hidden;
  height: 527px;
  direction: rtl;
}
/* line 13, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .main-infographic-viewer-div img {
  direction: rtl;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 20, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .secondary-infographic-viewer-div {
  /* 	width: 218px; */
  overflow-y: auto;
  height: 507px;
  margin: 30px 0px;
  /* 		background-image: url('../../images/info-graphic.jpg');*/
}
/* line 26, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .secondary-infographic-viewer-div img {
  width: 100%;
}

/* line 32, ../../sass/layout/_infographic-viewer.scss */
.row-infographic {
  padding-bottom: 50px;
  background-color: #e8e8e8;
  /* .inforgraphic-main {padding:0px;}
   */
  /* Track */
  /* Handle */
}
/* line 36, ../../sass/layout/_infographic-viewer.scss */
.row-infographic .secondary-infographic-viewer-div::-webkit-scrollbar {
  width: 0px;
}
/* line 42, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar {
  width: 0px;
}
/* line 47, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar {
  width: 12px;
}
/* line 51, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar:horizontal {
  padding: 10px;
  margin: 10px;
}
/* line 56, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 63, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #8a8a8a;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* line 69, ../../sass/layout/_infographic-viewer.scss */
.row-infographic ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(222, 222, 222, 0.4);
}

/* line 1, ../../sass/layout/_radio.scss */
.row-radio {
  background-color: #dedede;
  /* max-height: 743px; */
  padding: 50px 100px;
}

/* line 10, ../../sass/layout/_radio.scss */
.radio-subject {
  padding-bottom: 15px;
  display: inline-block;
}
/* line 13, ../../sass/layout/_radio.scss */
.radio-subject .col-md-4, .radio-subject .col-sm-4, .radio-subject .col-xs-4 {
  padding-left: 0px;
}

/* line 17, ../../sass/layout/_radio.scss */
.radio-subject h1, .radio-subject h2, .radio-subject h3, .radio-subject h4, .radio-subject h5, .radio-subject h6, .radio-subject p, .radio-desc h1, .radio-desc h2, .radio-desc h3, .radio-desc h4, .radio-desc h5, .radio-desc h6, .radio-desc p {
  color: white;
  font-weight: bold;
}

/* line 23, ../../sass/layout/_radio.scss */
.radio-subject > :first-child {
  padding: 15px 15px 7px 15px;
  background: linear-gradient(top, #f7ff05, #cad100);
  background: -o-linear-gradient(top, #f7ff05, #cad100);
  background: -moz-linear-gradient(top, #f7ff05, #cad100);
  background: -webkit-linear-gradient(top, #f7ff05, #cad100);
}

/* line 1, ../../sass/layout/_video.scss */
.video-row {
  background-color: #000;
  /* max-height: 743px; */
  padding: 50px 109px;
}

/* line 11, ../../sass/layout/_video.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 17, ../../sass/layout/_video.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 28, ../../sass/layout/_video.scss */
.video-desc h1, .video-desc h2, .video-desc h3, .video-desc h4, .video-desc h5, .video-desc h6, .video-desc p {
  color: white;
  font-weight: bold;
  padding-left: 90px;
}

/* line 35, ../../sass/layout/_video.scss */
.video-desc {
  padding-top: 20px;
}

/* line 1, ../../sass/layout/_gallery.scss */
.row-gallery {
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(7, 7, 7, 0.94);
}
/* line 5, ../../sass/layout/_gallery.scss */
.row-gallery .col-md-4, .row-gallery .col-md-6, .row-gallery .col-sm-6, .row-gallery .col-md-2, .row-gallery .col-md-3 {
  padding: 0px;
}

/* line 11, ../../sass/layout/_gallery.scss */
.gallery-container .shadow {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(76%) brightness(72%) contrast(178%);
  filter: grayscale(76%) brightness(72%) contrast(178%);
  transition: filter 0.3s, box-shadow 0.3s;
  -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}

/* line 22, ../../sass/layout/_gallery.scss */
.shadows-link:hover img,
.shadows-link:focus img {
  -webkit-filter: none;
  filter: none;
  box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
}

/* line 1, ../../sass/layout/_articles.scss */
.row-articles {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #dedede;
}
/* line 7, ../../sass/layout/_articles.scss */
.row-articles .article-title h4 {
  font-weight: bold;
  padding-left: 90px;
  color: #000;
}
/* line 15, ../../sass/layout/_articles.scss */
.row-articles .article-img {
  border-radius: 3px;
}
/* line 20, ../../sass/layout/_articles.scss */
.row-articles .div-article {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  background-color: #fff;
}
/* line 27, ../../sass/layout/_articles.scss */
.row-articles .article-desc {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 116px;
}
/* line 34, ../../sass/layout/_articles.scss */
.row-articles .col-article-2 {
  width: 19.666667%;
}
/* line 38, ../../sass/layout/_articles.scss */
.row-articles .col-article-offset-2 {
  margin-left: 5.333333%;
}

@media all and (max-width: 768px) {
  /* line 4, ../../sass/layout/_mobile.scss */
  .header-row {
    display: block;
  }

  /* line 8, ../../sass/layout/_mobile.scss */
  .row-read {
    display: block;
  }

  /* line 12, ../../sass/layout/_mobile.scss */
  .sponsor-img {
    display: none;
  }

  /* line 16, ../../sass/layout/_mobile.scss */
  .header-content-subject {
    /* 		h1 {
    			font-size: 30px;
    		} */
  }

  /* line 23, ../../sass/layout/_mobile.scss */
  .map-div, div.header-content-left {
    margin-top: 15px;
  }

  /* line 27, ../../sass/layout/_mobile.scss */
  .header-content-subject {
    height: 160px;
    padding-top: 30px;
  }
}
@media all and (max-width: 978px) {
  /* line 37, ../../sass/layout/_mobile.scss */
  .main-photo-viewer-div {
    display: none;
  }

  /* line 40, ../../sass/layout/_mobile.scss */
  .logo-div {
    /* 	h1 {
    	 	 font-size: 30px;
    		} */
  }

  /* line 45, ../../sass/layout/_mobile.scss */
  .map-div, div.header-content-left {
    margin-top: 15px;
  }

  /* line 49, ../../sass/layout/_mobile.scss */
  .header-text {
    /* 		h2 {
    			font-size: 23px;
    		} */
  }

  /* line 55, ../../sass/layout/_mobile.scss */
  .rwl-buttons a {
    font-size: 20px;
  }
  /* line 59, ../../sass/layout/_mobile.scss */
  .rwl-buttons div.rwl-cities {
    padding-bottom: 15px;
  }

  /*   .img-responsive {
      margin-left: auto;
      margin-right: auto;
    } */
}
/* line 1, ../../sass/layout/_footer.scss */
footer {
  background-color: #000;
  color: white;
}
/* line 4, ../../sass/layout/_footer.scss */
footer .footer-gray {
  background-color: #1f1f1f;
}

/* line 10, ../../sass/layout/_footer.scss */
.logo-container {
  padding-top: 44px;
}
/* line 12, ../../sass/layout/_footer.scss */
.logo-container h2 {
  font-size: 2vw;
}

/* line 17, ../../sass/layout/_footer.scss */
.footer-sponsor {
  padding-top: 10px;
  padding-bottom: 35px;
}

/* line 23, ../../sass/layout/_footer.scss */
div.rwl-cities-footer {
  padding: 5px 0px 20px 0px;
  background-color: black;
}
/* line 26, ../../sass/layout/_footer.scss */
div.rwl-cities-footer button {
  padding: 0px;
  height: 50px;
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
/* line 36, ../../sass/layout/_footer.scss */
div.rwl-cities-footer button:before {
  content: "";
  position: absolute;
  width: 37%;
  height: 1px;
  bottom: 0;
  border-bottom: 6px solid;
}
/* line 45, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .zabadani:before {
  border-bottom-color: #197078;
}
/* line 46, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .deralzor:before {
  border-bottom-color: #200544;
}
/* line 47, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .salamyeh:before {
  border-bottom-color: #ff1313;
}
/* line 48, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .banyas:before {
  border-bottom-color: #194a06;
}
/* line 49, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .daraa:before {
  border-bottom-color: #48052c;
}
/* line 50, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .qamshli:before {
  border-bottom-color: #ffb913;
}
/* line 52, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .zabadani:hover:before {
  border-bottom-color: #10494e;
}
/* line 53, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .deralzor:hover:before {
  border-bottom-color: #0a0214;
}
/* line 54, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .salamyeh:hover:before {
  border-bottom-color: #ac0000;
}
/* line 55, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .banyas:hover:before {
  border-bottom-color: #091b02;
}
/* line 56, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .daraa:hover:before {
  border-bottom-color: #18020f;
}
/* line 57, ../../sass/layout/_footer.scss */
div.rwl-cities-footer .qamshli:hover:before {
  border-bottom-color: #ac7900;
}

/* line 63, ../../sass/layout/_footer.scss */
div.rwl-cities-footer button:hover, div.rwl-cities-footer button:focus, div.rwl-cities-footer button.active {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

/* line 70, ../../sass/layout/_footer.scss */
div.footer-social-tab {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 75, ../../sass/layout/_footer.scss */
.footer-social-tab * {
  padding-bottom: 3px;
}

/* line 79, ../../sass/layout/_footer.scss */
.col-social {
  width: 55%;
}
