<div class="row row-read" id="row-read">
  <div class="city-subject center-div-elements-vertically col-md-4  col-sm-4  col-xs-12">
      <div class="city-subject-left left">
          <h3>Salamiyah</h3>
          
          <p class="city-pdf"><a  href="">Download Pdf</a></p>
          <p>Last Update:<span class="font-light">test</span></p>
          <p>Publisher:  <span class="font-light">test</span></p> 
          <p>Translator: <span class="font-light">test</span></p> 
          <p>Supervisor: <span class="font-light">test</span></p>
          <p>Special Thanks: <span class="font-light">test</span></p>
      </div>
  </div>
  <div class="paragraph-text fade-out city-information content-details col-md-8 col-sm-8 col-xs-12">
    <div class="row">
    <div class="col-md-11 city-text">
	    <p>
				تتكئ مدينة سلمية على تخوم البادية وسط البلاد، ظهرها إلى مدينة حماه على بعد بضعة كيلومترات، وتمتد البادية أمامها شرقاً على مساحات شاسعة حتى مدينة تدمر، وشمالاً حتى مدينة الطبقة. ولم يعد يعكر صفوها شح الأمطار المتوالية وتقلب مزاج المناخ فيها، بعد أن هجر أغلب سكان المدينة عمله في الزراعة، أو بأبعد تقدير بات هذا العمل يشكل مصدر دخل ثانوي، حيث بدأت البادية ومنذ عدة عقود، بقضم أراضي المدينة الزراعية، بما بات يعرف بظاهرة التصحر، والتي خبرها "السلامنة" جيداً، وعانوا منها أيّما معاناة.
				أرخى التقلب المناخي، وشح الأمطار، بظلاله على خيارات سكان المدينة، وبسبب غياب المشاريع التنموية من قبل الدولة، لم يكن أمام سكان المدينة سوى خيارات قليلة، السفر خارج البلاد لسعيدي الحظ، والاندفاع باتجاه التعليم والتحصيل العلمي، كمنفذ شبه وحيد للعمل داخل مؤسسات الدولة، حيث باتت "الوظيفة" حلماً لدى أهالي المدينة، ورداً آمناً على تقلب المناخ وضياع المواسم، فوظيفة الدولة لا تخضع لمزاج الطبيعة.

				ووفق السرديات المتداولة لدى أجيال المدينة، فإن السلمية كانت قد هدمت مرات عديدة عبر التاريخ، إما بسبب الحروب، أو بسبب تقلّب المناخ، ومن هنا يعتقد البعض أن أصل كلمة "سلمية" أتت من كلمتين وهما: "سلمو ميّة" أي سلم مائة رجل من سكان المدينة في إحدى مرات الهدم الذي تعرضت له. بينما يرى آخرون أن أصل التسمية أتى من كلمتين أيضاً وهما: "سيل مي"، أي سيل من المياه، في إشارة إلى وفرة المياه التي كانت تمتاز بها المدينة في وقت مضى. 
				وأياً يكن الأمر، فمدينة السلمية، تعد إحدى المدن القديمة فعلياً، ويثبت ذلك العديد من المعالم الأثرية في المدينة، وعلى رأسها قلعتها الأثرية الشهيرة: "قلعة شميميس" والتي لم يتبق منها سوى جدارها الخارجي وسورها المتآكل، والتي يعود تاريخها وبحسب بعض المؤرخين إلى البناة الأوائل للقلعة وهم أمراء "شمسيفرام"، أمراء حمص الهلنستية في أواخر القرن الثاني قبل الميلاد.
				تمتد المدينة على سهل واسع، ويقطعها أربعة شوارع رئيسية تتصالب في وسطها مشكلة ساحة المدينة، ولا يتجاوز عدد سكانها وفق الاحصائيات المائة وعشرون ألف نسمة، على أبعد تقدير. شهدت المدينة توسعاً أفقياً في السنوات القليلة الماضية، وضمت مزيداً من الأراضي الزراعية لتتحول إلى أحياء سكنية، تمتد من سفوح جبل عين الزرقاء غرباً، وحتى حي السبيل شرقاً، وتصل أحياؤها السكنية حتى سفوح جبل الخضر شمال غرب المدينة.
				تألفت المدينة قديماً من بضعة أحياء رئيسية، إلا أن ازدياد عدد قاطني المدينة أدى إلى استحداث أحياء جديدة، فعلى سبيل المثال، أنشأ غربي المدينة حيّ جديد، نشأ تدريجياً بعد أحداث مجزرة حماه عام 1982، حيث كثر النازحون من مدينة حماه إلى مدينة سلمية، وأخذ الحيّ اسم "حي الحموية"، في إشارة إلى سكانه من مدينة حماه. وإلى الشرق من "حارة الحموية"، يوجد "حارة القدامسة"، وهو الحي الذي يقطنه غالبية أتت في سنوات سابقة من مدينة القدموس غرب البلاد. كما استحدث حيّ شرقي المدينة، سكنته غالبية من البدو، وسمي بحيّ "المشارفة" كناية باسم العشيرة التي ينتمي إليها سكان الحي. وفي جنوب المدينة، أيضاً استحدث حيّ آخر، معروف "بحيّ ضهر المغر" وتقيين، بينما هرب منها من تمكن من 
				تتكئ مدينة سلمية على تخوم البادية وسط البلاد، ظهرها إلى مدينة حماه على بعد بضعة كيلومترات، وتمتد البادية أمامها شرقاً على مساحات شاسعة حتى مدينة تدمر، وشمالاً حتى مدينة الطبقة. ولم يعد يعكر صفوها شح الأمطار المتوالية وتقلب مزاج المناخ فيها، بعد أن هجر أغلب سكان المدينة عمله في الزراعة، أو بأبعد تقدير بات هذا العمل يشكل مصدر دخل ثانوي، حيث بدأت البادية ومنذ عدة عقود، بقضم أراضي المدينة الزراعية، بما بات يعرف بظاهرة التصحر، والتي خبرها "السلامنة" جيداً، وعانوا منها أيّما معاناة.
				أرخى التقلب المناخي، وشح الأمطار، بظلاله على خيارات سكان المدينة، وبسبب غياب المشاريع التنموية من قبل الدولة، لم يكن أمام سكان المدينة سوى خيارات قليلة، السفر خارج البلاد لسعيدي الحظ، والاندفاع باتجاه التعليم والتحصيل العلمي، كمنفذ شبه وحيد للعمل داخل مؤسسات الدولة، حيث باتت "الوظيفة" حلماً لدى أهالي المدينة، ورداً آمناً على تقلب المناخ وضياع المواسم، فوظيفة الدولة لا تخضع لمزاج الطبيعة.
				تتكئ مدينة سلمية على تخوم البادية وسط البلاد، ظهرها إلى مدينة حماه على بعد بضعة كيلومترات، وتمتد البادية أمامها شرقاً على مساحات شاسعة حتى مدينة تدمر، وشمالاً حتى مدينة الطبقة. ولم يعد يعكر صفوها شح الأمطار المتوالية وتقلب مزاج المناخ فيها، بعد أن هجر أغلب سكان المدينة عمله في الزراعة، أو بأبعد تقدير بات هذا العمل يشكل مصدر دخل ثانوي، حيث بدأت البادية ومنذ عدة عقود، بقضم أراضي المدينة الزراعية، بما بات يعرف بظاهرة التصحر، والتي خبرها "السلامنة" جيداً، وعانوا منها أيّما معاناة.
				أرخى التقلب المناخي، وشح الأمطار، بظلاله على خيارات سكان المدينة، وبسبب غياب المشاريع التنموية من قبل الدولة، لم يكن أمام سكان المدينة سوى خيارات قليلة، السفر خارج البلاد لسعيدي الحظ، والاندفاع باتجاه التعليم والتحصيل العلمي، كمنفذ شبه وحيد للعمل داخل مؤسسات الدولة، حيث باتت "الوظيفة" حلماً لدى أهالي المدينة، ورداً آمناً على تقلب المناخ وضياع المواسم، فوظيفة الدولة لا تخضع لمزاج الطبيعة.
				تتكئ مدينة سلمية على تخوم البادية وسط البلاد، ظهرها إلى مدينة حماه على بعد بضعة كيلومترات، وتمتد البادية أمامها شرقاً على مساحات شاسعة حتى مدينة تدمر، وشمالاً حتى مدينة الطبقة. ولم يعد يعكر صفوها شح الأمطار المتوالية وتقلب مزاج المناخ فيها، بعد أن هجر أغلب سكان المدينة عمله في الزراعة، أو بأبعد تقدير بات هذا العمل يشكل مصدر دخل ثانوي، حيث بدأت البادية ومنذ عدة عقود، بقضم أراضي المدينة الزراعية، بما بات يعرف بظاهرة التصحر، والتي خبرها "السلامنة" جيداً، وعانوا منها أيّما معاناة.
				أرخى التقلب المناخي، وشح الأمطار، بظلاله على خيارات سكان المدينة، وبسبب غياب المشاريع التنموية من قبل الدولة، لم يكن أمام سكان المدينة سوى خيارات قليلة، السفر خارج البلاد لسعيدي الحظ، والاندفاع باتجاه التعليم والتحصيل العلمي، كمنفذ شبه وحيد للعمل داخل مؤسسات الدولة، حيث باتت "الوظيفة" حلماً لدى أهالي المدينة، ورداً آمناً على تقلب المناخ وضياع المواسم، فوظيفة الدولة لا تخضع لمزاج الطبيعة.تتكئ مدينة سلمية على تخوم البادية وسط البلاد، ظهرها إلى مدينة حماه على بعد بضعة كيلومترات، وتمتد البادية أمامها شرقاً على مساحات شاسعة حتى مدينة تدمر، وشمالاً حتى مدينة الطبقة. ولم يعد يعكر صفوها شح الأمطار المتوالية وتقلب مزاج المناخ فيها، بعد أن هجر أغلب سكان المدينة عمله في الزراعة، أو بأبعد تقدير بات هذا العمل يشكل مصدر دخل ثانوي، حيث بدأت البادية ومنذ عدة عقود، بقضم أراضي المدينة الزراعية، بما بات يعرف بظاهرة التصحر، والتي خبرها "السلامنة" جيداً، وعانوا منها أيّما معاناة.
				أرخى التقلب المناخي، وشح الأمطار، بظلاله على خيارات سكان المدينة، وبسبب غياب المشاريع التنموية من قبل الدولة، لم يكن أمام سكان المدينة سوى خيارات قليلة، السفر خارج البلاد لسعيدي الحظ، والاندفاع باتجاه التعليم والتحصيل العلمي، كمنفذ شبه وحيد للعمل داخل مؤسسات الدولة، حيث باتت "الوظيفة" حلماً لدى أهالي المدينة، ورداً آمناً على تقلب المناخ وضياع المواسم، فوظيفة الدولة لا تخضع لمزاج الطبيعة.
			</p>
				</div>
				</div>
	</div>
</div>