<div class="row alert-subject">
  <div>
    <h4>Image Gallery</h4>
  </div>
  <div>
    <h5></h5>
  </div>
</div>
<div class="row row-gallery">
  <div class="gallery-container" id="photos">
   {% for image in images %}
    <a href="{{ asset('images/city/'~ image.imageUrl) }}" class="fancy-box" id="fancy-box" rel="group">
      <img  class="img-responsive" src="{{ asset('images/city/'~ image.imageUrl) }}"/>
    </a>
    {% endfor %}
  </div>
</div>