<!DOCTYPE html>
<html>
<head>
    <title>Syria Untold</title>
    {% include 'public/partials/includes.html.twig' %}
</head>
<body>
<div class="container-fluid">
    {% include 'public/partials/language-bar.html.twig' %}
    <header>
        {% include 'public/partials/header-map.html.twig' %}
        {% include 'public/partials/header-desc.html.twig' %}
    </header>

	