<div class="row row-infographic fade-out">
    <div class="yellow-subject col-md-8 col-md-offset-4">
        <div class="col-md-4"><h4>INFOGRAPHIC</h4></div>
        <img class="img-responsive col-md-4 col-md-offset-4" src="{{ asset('images/ain-logo.png') }}">

    </div>
    <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1" id="photo-second">
        {% for infographic in infographics %}
            <div class="photo-second  secondary-infographic-viewer-div">
                <img src="{{ asset('images/infographic/'~ infographic.infoImage) }}">
            </div>
        {% endfor %}
    </div>

    <div class="photo-primary col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1" id="photo">
        {% for infographic in infographics %}
            <div class="photo main-infographic-viewer-div">
                <img class="col-md-12 col-sm-12 col-xs-12" src="{{ asset('images/infographic/'~ infographic.infoImage) }}">
            </div>
        {% endfor %}

    </div>
</div>

