<div class="row alert-subject">
	<div>
		<h4>SALAMYEH UNDER SEIGE</h4>
	</div>
	<div>
		<h5>Film Date: 12-01-2015</h5>
	</div>	
</div>
<div class="row video-row" id="row-watch">
	<div class="video-container">	
	    	<iframe width="640" height="360" src="https://www.youtube.com/embed/iqP7uGPQMbs" frameborder="0" allowfullscreen></iframe>
	</div>
    <div class="video-desc col-md-12 col-sm-12 col-xs-12">
	    	<p>Brief about the film</p>
	    	<p>Jordan is facing pressure to help more refugees, despite the possible risk to its security. King Abdullah says his country is at "boiling point" because of an influx of hundreds of thousands of Syrian 
			Chief international correspondent Lyse Doucet reports from Jordan.
	    	</p>
    </div>
</div>