<div class="row alert-subject">
    <div>
        {% if video is empty %}
        {% else %}
            <h4>{{ video[0].videoTitle }}</h4>
        {% endif %}
    </div>
    <div>
        {% if video is empty %}
        {% else %}
            <h5>Film Date: {{ video[0].videoDate|date }}</h5>
        {% endif %}
    </div>
</div>
<div class="row video-row" id="row-watch">
    <div class="video-container">
        {% if video is empty %}
        {% else %}
            {{ video[0].convertToEmbed(video[0].getVideoLink)|raw }}
        {% endif %}
    </div>
    <div class="video-desc col-md-12 col-sm-12 col-xs-12">
        <p>Brief about the film</p>
        {% if video is empty %}
        {% else %}
            {{ video[0].videoDesc|raw }}
        {% endif %}
    </div>
</div>